$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$iconSpritePath:          "/bower_components/sass-bootstrap/img/glyphicons-halflings.png";
$iconWhiteSpritePath:     "/bower_components/sass-bootstrap/img/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

input[type="checkbox"]{
  margin-top: 0px;
}

.leftContent{
	display: inline-block; 
	width: 79%;
	vertical-align: middle;
}
.rightContent{
	display: inline-block; 
	width: 19%; 
	vertical-align: middle;
}

.css-form 
{
	input.ng-invalid-required-if-new:focus,
	input.ng-invalid-unique:focus,
	input.ng-invalid-minlength:focus,
 	{
  	border: 2px solid #e9322d;
  	box-shadow: 0 0 6px #f8b9b7;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

@media only screen and (max-width: 600px) {
	
	/* Force table to not be like tables anymore */
	.modal table, 
	.modal thead, 
	.modal tbody, 
	.modal th, 
	.modal td, 
	.modal tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	.modal thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	.modal tr { border: 1px solid #ccc; }
 
	.modal td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		white-space: normal;
		text-align:left;
	}
}
		
@media only screen and (max-height: 600px) {
 	.modal {
 		height: 90%;
 		overflow-y: scroll;
 	}
 	.modal-body{
 		max-height: none;
 	}
}