<div class="row marketing">
  <button class="btn btn-primary" ng-click="newSite()">Register
    New Form</button>
  <p></p>
  <p ng-show='sites.length>0'>
    Search: <input ng-model="query">
  </p>
  <table class="table table-striped">
    <tbody>
      <tr ng-repeat='site in sites | filter:query'>
        <td ng-swipe-right="showActions = true">
          <div class='leftContent'>
            <h4>{{site.name}}</h4>
            <p>
              <abbr id='{{site.id}}' title='posting URL'>{{
                $location.absUrl().substr(0,$location.absUrl().lastIndexOf('/')+1)
                + 'site/' + site.id }}</abbr> <span class='icon-download-alt'
                copy-it data-clipboard-target='{{site.id}}'></span>
            </p>
            <button class='btn btn-primary' ng-click='editSite(site)'>Edit</button>
            <button class='btn btn-info' ng-click='cloneSite(site)'>Clone</button>
            <button class='btn btn-warning' ng-click="showActions = !showActions">X</button>
          </div>
          <div ng-show="showActions" class='rightContent'>
            <button class='btn btn-danger' ng-click="removeSite(site.id)"
              style='float: right; margin: 0px 0px 5px 5px'>Delete</button> <button
              class='btn' ng-click="showActions = false"
              style='float: right;'>Cancel</button>
          </div>

        </td>
      </tr>
    </tbody>
  </table>

</div>
