<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="admin/help">Help</a></li>
  </ul>
  <h3 class="text-muted">FormMailer Service Administration Home</h3>
</div>
<div class="row marketing">
  <div ng-if='sites && sites.length > 0'>
    Search Site: <input ng-model="query">
  </div>
  <button class="btn btn-primary" ng-click="newSite()">New</button>
  <div ng-if='!sites || sites.length == 0'>Use the button above to
    create a new form.</div>
  <div ng-repeat='site in sites | filter:query'>
    <h4>{{site.name}}</h4>
    <p>{{
      $location.absUrl().substr(0,$location.absUrl().lastIndexOf('/')+1)
      + 'site/' + site.id }}</p>
    <a class='btn btn-warning' tooltip-trigger='click'
      tooltip='double click to delete' ng-dblclick='removeSite(site.id)'>X</a>
    <a class='btn btn-primary' ng-click='editSite(site)'>Edit</a>
  </div>
</div>
