<div class="row marketing">
  FormMailer service e-mails the forms filled out by your site user to
  the addresses you configured. You design the forms at your web site's
  end and set the post destination to the URL provided by FormMailer
  service. FormMailer service will take care of the email part of the
  workflow. To complete the workflow, design a success and failure
  message page at your web site's end. They are wired to FormMailer
  service in one of the two ways:
  <ul>
    <li>If the forms are posted in AJAX mode, leave the the success
      and failure page URL fields empty. FormMailer service sends HTTP
      response code 200 to indicate success and otherwise failure. The
      AJAX client at your site should display appropriate message
      depending on the response code.</li>
    <li>In non-AJAX mode, supply the URL of the success and failure
      page in configuration. FormMailer service will redirect to one of
      the pages upon completion.</li>
  </ul>
</div>
