<div>
  <div class="modal-header">
    <h3>{{modalHeader}}</h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <tbody>
        <tr ng-if='item.id'>
          <td>ID</td>
          <td>{{item.id}}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td><input ng-model="item.name"></td>
        </tr>
        <tr>
          <td>Referrers:</td>
          <td>
            <div ng-repeat='referrer in item.referrers track by $index'>
              <div>
                http(s)://<input ng-model='item.referrers[$index]' /><a
                  class='btn' ng-click='item.referrers.splice($index,1)'>X</a>
                <a class='btn' ng-if='$last'
                  ng-click="item.referrers.push('')">+</a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Other Admins:</td>
          <td>
            <div
              ng-repeat='otherAdmin in item.otherAdmins track by $index'>
              <div>
                <input ng-model='item.otherAdmins[$index]' /><a
                  class='btn'
                  ng-click='item.otherAdmins.splice($index,1)'>X</a> <a
                  class='btn' ng-if='$last'
                  ng-click="item.otherAdmins.push('')">+</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</div>

