
<form name="form" class="css-form" novalidate>
  <div>
    <div class="modal-header">
      <h3>{{modalHeader}}</h3>
    </div>
    <div class="modal-body">
      <table class="table table-striped">
        <tbody>
          <tr ng-if='item.id'>
            <td>ID</td>
            <td>{{item.id}}</td>
          </tr>
          <tr ng-if='item.id'>
            <td>Posting URL</td>
            <td>{{
              $location.absUrl().substr(0,$location.absUrl().lastIndexOf('/')+1)
              + 'site/' + item.id }}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td><input ng-model="item.name"
              tooltip='identify your form' tooltip-trigger='focus'
              tooltip-placement='bottom' required></td>
          </tr>
          <tr>
            <td>Mail From</td>
            <td><input type='email' ng-model="item.mailFrom"
              tooltip='sender of the form email; mandatory'
              tooltip-trigger='focus' required></td>
          </tr>
          <tr>
            <td>Mail To</td>
            <td>
              <div ng-repeat='v in item.mailTo track by $index'>
                <div>
                  <input type='email' ng-model='item.mailTo[$index]'
                    ng-if='$first'
                    tooltip='recipients of the form email; mandatory; one per line'
                    tooltip-trigger='focus' required /><input
                    type='email' ng-model='item.mailTo[$index]'
                    ng-if='!$first' required /><a class='btn'
                    ng-if='!$first'
                    ng-click='item.mailTo.splice($index,1)'>X</a> <a
                    class='btn' ng-if='$last'
                    ng-click="item.mailTo.push('')">+</a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Mail Cc</td>
            <td>
              <div ng-repeat='v in item.mailCc track by $index'>
                <div>
                  <input type='email' ng-model='item.mailCc[$index]'
                    ng-if='$first' tooltip='one per line'
                    tooltip-trigger='focus' /><input type='email'
                    ng-model='item.mailCc[$index]' ng-if='!$first'
                    required /><a class='btn' ng-if='!$first'
                    ng-click='item.mailCc.splice($index,1)'>X</a> <a
                    class='btn' ng-if='$last'
                    ng-click="item.mailCc.push('')">+</a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Mail Subject</td>
            <td><input ng-model="item.mailSubject"></td>
          </tr>
          <tr>
            <td>HTML Mail</td>
            <td><input type="checkbox" ng-model="item.isHtml"></td>
          </tr>
          <tr>
            <td>Site Hosts<br />(a.k.a referrers)
            </td>
            <td>
              <div
                ng-repeat='referrer in item.referrers track by $index'>
                <div>
                  http(s)://<input ng-model='item.referrers[$index]'
                    ng-if='$first'
                    tooltip='mandatory for the purpose of authorization; 
                    enter host and optionally port part of the originating form URL; 
                    as well list all site aliases one per line; 
                    example: foo.com:8080'
                    tooltip-trigger='focus' required /><input
                    ng-model='item.referrers[$index]' ng-if='!$first'
                    required /><a class='btn' ng-if='!$first'
                    ng-click='item.referrers.splice($index,1)'>X</a> <a
                    class='btn' ng-if='$last'
                    ng-click="item.referrers.push('')">+</a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Success Page</td>
            <td><input ng-model="item.successPage"
              tooltip='relative to site host; used for redirection upon success; leave empty if form is posted in AJAX mode.'
              tooltip-trigger='focus'></td>
          </tr>
          <tr>
            <td>Faiure Page</td>
            <td><input ng-model="item.failurePage"
              tooltip='relative to site host; used for redirection upon failure;  leave empty if form is posted in AJAX mode.'
              tooltip-trigger='focus'></td>
          </tr>
          <tr>
            <td>Other Admins</td>
            <td>
              <div ng-repeat='otherAdmin in item.admins track by $index'>
                <div>
                  <input ng-model='item.admins[$index]' ng-if='$first'
                    tooltip='other people who can change this site settings; 
                    type something and must choose from suggestions by hitting enter;
                    one per line'
                    tooltip-trigger='focus'
                    typeahead="ur.username for ur in nonSuperAdmins | filter:$viewValue | filter: uniqueAdminFilter | limitTo:8"
                    typeahead-editable='false' /> <input
                    ng-model='item.admins[$index]' ng-if='!$first'
                    typeahead="ur.username for ur in nonSuperAdmins | filter:$viewValue | filter: uniqueAdminFilter | limitTo:8"
                    typeahead-editable='false' required /><a
                    class='btn' ng-if='!$first'
                    ng-click='item.admins.splice($index,1)'>X</a> <a
                    class='btn' ng-if='$last'
                    ng-click="item.admins.push('')">+</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()"
        ng-disabled="form.$invalid">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </div>

</form>
