<div class="row marketing">
  <button class="btn btn-primary" ng-click="newUser()">New User</button>
  <p></p>
  <p ng-show='users.length>0'>
    Search: <input ng-model="query">
  </p>
  <table class="table table-striped">
    <tbody>
      <tr ng-repeat='user in users | filter:query'>
        <td>
          <h4>{{user.username}}</h4>
          <p>{{ user.superAdmin }}</p> <a class='btn btn-primary'
          ng-click='editUser(user)'>Edit</a> <a class='btn btn-warning'
          tooltip-trigger='click' tooltip='double click to delete'
          ng-dblclick='removeUser(user.username)'
          ng-if='cu.username != user.username'>X</a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
