<div class="row marketing">
  <button class="btn btn-primary" ng-click="newUser()">New User</button>
  <p></p>
  <p ng-show='users.length>0'>
    Search: <input ng-model="query">
  </p>
  <table class="table table-striped">
    <tbody>
      <tr ng-repeat='user in users | filter:query'>
        <td
          ng-swipe-right="showActions = (cu.username != user.username)">
          <div class='leftContent'>
            <h4>{{user.username}}</h4>
            <p>
              <abbr title='Super Admin has full privilege'>{{
                user.superAdmin?'Super Admin':'' }}</abbr>
            </p>
            <button class='btn btn-primary' ng-click='editUser(user)'>Edit</button>
            <button class='btn btn-warning'
              ng-show='cu.username != user.username'
              ng-click="showActions = !showActions">X</button>
          </div>
          <div ng-show="showActions" class='rightContent'>
            <button class='btn btn-danger'
              ng-click="removeUser(user.username)"
              style='float: right; margin: 0px 0px 5px 5px'>Delete</button>
            <button class='btn' ng-click="showActions = false"
              style='float: right;'>Cancel</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
